* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

body {
  background: var(--blue-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}